body{
  width:1440px;
  background-color: hsl(233, 47%, 7%);
}
.box{
  width:1000px;
  height:400px;
  margin: auto;
  margin-top: 100px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 1%;
}
.box1{
  display: inline-block;
    width: 50%;
text-align: center;
border-top: 100px;
position: relative;
top:50px;
float: left;
line-height: 1.5em;
opacity: .95;

}
.box2{
  width: 50%;
  display:inline-block;
  float: right;
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  background-color: hsl(277, 70%, 61%);



}
.text{
  width:350px;
  margin: auto;
  text-align: left;
  margin-left: 75px;
}
.img{
  display: inline-block;
    vertical-align:middle;
    height: 400px;
    width: 100%;
    position:  absolute;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    opacity: .4;


}
.overImg{
  display: inline-block;
    vertical-align:middle;
    width:500px;
    height: 400px;
    width: 100%;
    position:  relative;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    opacity: .9;
    background-color: hsl(277, 64%, 20%);


}
ul{
  width:333px;
  height:100px;
  list-style: none;
  display:inline-flex;
  justify-content:space-between;
  padding: 0;
  font-family:"Inter";
  color:hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 18px;
}
li{
  width:100px;
  height:100px;

}
p{
  font-family: "Inter";
  color:hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-size: 13px;
}
.textList{
  font-family: "Lexend Deca";
  font-weight:400;
  font-size: 10px;
color:  hsla(0, 0%, 100%, 0.6);
}
#insights{
  color:hsl(277, 64%, 61%);
}
h1{
  color:hsl(0, 0%, 100%);
font-family: "Lexend Deca";
font-weight: 700;
font-size: 28px;
line-height: 1.5em;
margin-left: 18px;
transform: scale(1.1);
}
p{
  color:hsla(0, 0%, 100%, 0.75);
  font-size: 12px;
}
